@media screen {

	body {
			font-family: "Kasimir";
			margin: 0;
			padding: 0;
			background: url("../imgs/bg-bottom.png"), url("../imgs/bg-top.png");
			background-size:100% 30%, 100%;
			background-attachment: fixed;
			background-position: bottom, top;
			background-repeat:no-repeat;
	}

	p,h1,h2,h3,h4,h5 {
		padding: 0;
		margin: 0;
	}

	img{
		border: 0;
		padding: 0;	
		margin: 0;
	}

	#container {

	}

}